{%- if section.settings.image != blank -%}
  <div class="healing-stone">
    <img
      srcset="
        {%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
        {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
        {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
        {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
        {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
        {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
        {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
        {{ section.settings.image | image_url }} {{ section.settings.image.width }}w
      "
      sizes="100vw"
      src="{{ section.settings.image | image_url: width: 1500 }}"
      loading="lazy"
      alt="{{ section.settings.image.alt | escape }}"
      width="100%"
      height="100%"
    >
    <a href="{{ section.settings.link_url }}" class="healing-btn">{{ section.settings.link_text }}</a>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Healing Stone",
  "tag": "section",
  "class": "healing-stone",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "Shop Collection"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "name": "Healing Stone"
    }
  ]
}
{% endschema %}
