<div class="news-letter__container">
  <h4 class="header-text">{{ section.settings.news_letter_text }}</h4>
  <div class="container-news">
    <h3 class="news-item__text">{{ section.settings.head_text }}</h3>
    <h1 class="news-item__text">{{ section.settings.main_text }}</h1>
  </div>
  <a href="{{ section.settings.link_url }}" class="link-url">{{ section.settings.link_text }}</a>
</div>

{% schema %}
{
  "name": "News Letter",
  "tag": "section",
  "class": "news-letter",
  "settings": [
    {
      "type": "text",
      "id": "news_letter_text",
      "label": "News Letter",
      "default": "Limited time only"
    },
    {
      "type": "text",
      "id": "head_text",
      "label": "Text",
      "default": "The \"One for Me, One for you\"Event"
    },
    {
      "type": "text",
      "id": "main_text",
      "label": "Main Text",
      "default": "Buy 1... Get 1"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "name": "News Letter"
    }
  ]
}
{% endschema %}
